.AboutUs{
    margin: 20px 0px 0px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text-about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}