@font-face {
  font-family: Vazirmatn;
  src: url('../Assets/fonts/webfonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Vazirmatn" !important;
}
body {
  background: linear-gradient(90deg, rgba(242,207,63,1) 0%, rgba(171,171,171,1) 55%, rgba(140,138,142,1) 100%) !important;
  font-family: "Vazirmatn" !important;
  height: 100%;
}
.container {
  height: 100%;
}     
input {
  width: 200px;
  height: 35px;
  border-radius: 16px;
  border: none;
  background-color: rgba(127, 255, 212, 0.322);
  padding: 8px;
  box-shadow: 0.2em 0.2em 0.7em rgba(0, 0, 0, 0.452), inset 0 0 0.7em rgba(163, 241, 215, 0.178);
}
input:focus{
  outline: none;
  background-color: rgba(251, 255, 254, 0.322);
}

label{
  font-size: small;
  margin-bottom: 5px;
}

button{
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 8px;
  background-color: #FF8400;
  width: 200px;
  border: none;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0.2em 0.2em 0.7em rgba(0, 0, 0, 0.452);
  transition: background-color 0.5 ease-out;
}
button:hover{
  background-color: #FFC300;
  color: white;
  
}
a {
 text-decoration: none;
 color:black
}
a:hover{
  text-decoration: underline;
  color: #494949;
  cursor: pointer;
}

.font-size-25{
  font-size: 25px !important;
}
.font-size-20{
  font-size: 20px !important;
}
.font-size-18{
  font-size: 18px !important;
}
.font-size-14{
  font-size: 14px !important;
}